<h2>Show account</h2>

<ul>

  <li>
    <strong>Uuid:</strong>
    <%= @account.id %>
  </li>

  <li>
    <strong>Currentbalance:</strong>
    <%= @account.currentBalance %>
  </li>

</ul>

<%= link "Edit", to: account_path(@conn, :edit, @account) %>
<%= link "Back", to: account_path(@conn, :index) %>
